body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.page.active {
    background-color: #266e45;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin: 20px;
    box-shadow: 10px 15px 10px #317e761a;
}

.menu-title {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 10px 10px 10px 10px;
	text-shadow: 2px 5px 4px rgb(119, 118, 118);
	
}




#cart-icon-container {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

#cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-badge.hidden {
    display: none;
}

.items-container {
  display: grid;
  grid-template-columns:(2,1fr);
    gap: 15px;
	
}


.item {
    background: #aeabab;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.item:hover {
    background-color: rgb(65, 63, 63);
    color: #ffffff; 
}

.item:hover::after {
   
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 100%; 
}

.page {
    display: none;
    padding: 20px;
  }

  .page.active{
    display: block;
  }

#order {
    background-color: #266e45;
	
}

#total {
    margin-top: 20px;
}





.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 5px; 
}

.menu-item .dots {
    flex-grow: 1;
    border-bottom: 1px dotted #000; 
    margin: 0 10px;
}

.menu-item .name {
    white-space: nowrap; 
}

.menu-item .price {
    white-space: nowrap; 
}

.ingredients {
    font-size: 14px;
    color: #555; 
    margin: 0 0 10px 0;
}

#place-order{
border-radius: 3px;
box-shadow: 1px 2px 2px rgb(237, 235, 235);
font-weight: bolder;


}

#back-to-menu{
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgb(237, 235, 235);
	font-weight: bolder;
}

#new-order{
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgb(237, 235, 235);
	font-weight: bolder;
}

#kvitto{
	border-radius: 3px;
	box-shadow: 1px 2px 2px rgb(237, 235, 235);
	font-weight: bolder;
}


.page {
    display: none;
}

.page.active {
    display: block;
}



#button-apikey, #button-tenant {
    display: none;
}











@media (min-width: 768px) {
    .menu-title {
        font-size: 2rem;
    }

    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1024px) {
    .menu-title {
        font-size: 2.5rem;
    }

    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .page.active {
        margin: 40px auto;
        width: 80%;
    }
}
