body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.menu-container {
    background-color: #126b37;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin: 20px;
    box-shadow: 5px 15px 10px #265f591a;
}

.menu-title {
    text-align: center;
    font-size: 1.7rem;
    color: white;
    margin: 0 0 20px;
	text-shadow: 2px 5px 4px rgb(119, 118, 118);
}

/* Cart Icon and Badge Styling */
#cart-icon-container {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

#cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-badge.hidden {
    display: none;
}

.items-container {
    display: flex;
	flex-direction: column;
    gap: 15px;
}

.item {
    background: #aeabab;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.page {
    display: none;
    padding: 20px;
  }

  .page.active{
    display: block;
  }

#order {
    background-color: white;
}

#total {
    margin-top: 20px;
}

/* Responsive Media Queries */
@media (min-width: 768px) {
    .menu-container {
        margin: 20px auto;
        max-width: 600px;
    }

    .items-container {
        flex-direction: row;
        gap: 20px;
    }

    .item {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .menu-container {
        max-width: 800px;
    }

    .items-container {
        gap: 30px;
    }

    .item {
        width: calc(33.333% - 20px);
    }

    #cart-icon-container {
        top: 30px;
        right: 30px;
    }
}
